body {
    font-family: 'Fugaz One', cursive;
    margin: 0;
}
.intro {
  height: 100vh;
}

.title {
  position: absolute;
  margin-top: 13rem;
  margin-left: 7rem;
  color: whitesmoke;
}
.title h1{
font-size: 5rem;
letter-spacing: 1rem;
}
.title p{
    font-size: 1rem;
    letter-spacing: 0.3rem;
    margin-left: 3rem;
    }
